.DS_Store
**/.DS_Store
.claude/
collision_debug.png
collision_grid.json
devserver.py
styles_backup/
grafiche-scappo-dalla-major/
mappa gioco pirrons/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
